:root {
  --sub-title-color: #aebbda;
}

.navbar-title h1 {
  background-image: linear-gradient(to bottom, #f6f6f7, #7e808f);
  color: transparent;
  -webkit-background-clip: text;
}

.navbar {
  padding: 16px 32px;
}

.navbar-title p {
  color: #aebbda;
}

.drop-down {
  color: #8f9bb7;
  border: 3px solid #20053f;
}

.drop-down:hover {
  background-color: #060b27;
  color: #8f9bb7;
}
