:root {
    --sub-title-color: #AEBBDA;
  }
.navbar-title h1{
    background-image: linear-gradient(to bottom, #F6F6F7, #7E808F );
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.navbar {
    padding: 16px 32px;
}
.navbar-title p {
    color: #AEBBDA;
}

.drop-down {
    color: #8F9BB7;
    border: 3px solid #20053F;
}

.drop-down:hover {
    background-color: #060B27;
    color: #8F9BB7;
}