@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --bg-color: #231e48;
  --total-visit-color: #3f46f7;
  --total-sub-color: #fe8743;
  --active-user-color: #00c543;
  --total-click-color: #8923d9;
  --ff: "Poppins";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff);
}