@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --bg-color: #060B27;
  --linear: #2F014C;
  --total-visit-color: #3F46F7;
  --total-sub-color: #fe8743;
  --active-user-color: #00c543;
  --total-click-color: #8923d9;
  --ff: "Poppins";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff);
  background-image: linear-gradient(to right, #060B27, #2F014C );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}